<div class="container">
    <div class="container-first">
        <div class="container-first--block1"></div>
        <div class="container-first--leftRail"></div>
        <div class="container-first--block2"></div>
    </div>
    <div class="container-second">
        <div class="container-second--contents">
            <div class="container-second--heading">
                <h2>Building A Winning Framework</h2>
            </div>
            <div class="container-second--bodyText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                impedit, id, culpa voluptates optio magni reiciendis vitae exercitationem odio sequi quia consequatur
                doloremque accusantium ratione ipsum. Vel id magni qui.
            </div>
            <div class="container-second--list">
                <ul>
                    <li class="container-listitem">
                        <div class="container-listitem__number">
                            1
                        </div>
                        <div class="container-listitem__text">dolor sit, amet consectetur adipisicing elit. Illo atque
                            dolore, non pariatur ad dolor odio nisi
                            aperiam possimus corporis! Atque dolor impedit error debitis cum eaque incidunt eos
                            provident!
                        </div>
                    </li>
                    <li class="container-listitem">
                        <div class="container-listitem__number">
                            2
                        </div>
                        <div class="container-listitem__text">dolor sit, amet consectetur adipisicing elit. Illo atque
                            dolore, non pariatur ad dolor odio nisi
                            aperiam possimus corporis! Atque dolor impedit error debitis cum eaque incidunt eos
                            provident!
                        </div>
                    </li>
                    <li class="container-listitem">
                        <div class="container-listitem__number">
                            3
                        </div>
                        <div class="container-listitem__text">dolor sit, amet consectetur adipisicing elit. Illo atque
                            dolore, non pariatur ad dolor odio nisi
                            aperiam possimus corporis! Atque dolor impedit error debitis cum eaque incidunt eos
                            provident!
                        </div>
                    </li>
                    <li class="container-listitem">
                        <div class="container-listitem__number">
                            4
                        </div>
                        <div class="container-listitem__text">dolor sit, amet consectetur adipisicing elit. Illo atque
                            dolore, non pariatur ad dolor odio nisi
                            aperiam possimus corporis! Atque dolor impedit error debitis cum eaque incidunt eos
                            provident!
                        </div>
                    </li>
                    <li class="container-listitem">
                        <div class="container-listitem__number">
                            5
                        </div>
                        <div class="container-listitem__text">dolor sit, amet consectetur adipisicing elit. Illo atque
                            dolore, non pariatur ad dolor odio nisi
                            aperiam possimus corporis! Atque dolor impedit error debitis cum eaque incidunt eos
                            provident!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-third">
        <div class="container-third--block3"></div>
        <div class="container-third--rightRail"></div>
        <div class="container-third--block4"></div>
    </div>
</div>