.cmp-homepagecontainer__background > img {
    width: 100%;
    height: auto;
}
.cmp-homepagecontainer__title > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13vw;

}