<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Try"

data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
<div class="cmp-navbar">

    <div class="cmp-navbar__primary">
        <div class="cmp-navbar__primary--home">Home</div>
        <div class="cmp-navbar__primary--about">About</div>
        <div class="cmp-navbar__primary--products">Products</div>
        <div class="cmp-navbar__primary--shop">Shop</div>
        <div class="cmp-navbar__primary--services">Services</div>
    </div>


    <div class="cmp-navbar__hrline">
        <hr class="cmp-navbar__hrline-v1"/>
    <div/>


    <div class="cmp-navbar__logo">
        <img src="${properties.bannerImgRef}" class="cmp-navbar__logo-img1"/>
        <p class="cmp-navbar__logo-slogan">Shop with no worries</p>
    </div>

</div>
</sly>